# IPython caches
.ipynb_checkpoints

# Backups
*~

# pycaches
modules/__*

# data directory
data/*

# event-gen directory
event-gen/*

# networks directory
networks/*

# models directory
models/*

# plots directory
plots/*

# req-files directory
req-files/*

# cnn-plots directory
cnn-plots/*

# DS_store
.DS_store
